@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css (optional) */
::-webkit-scrollbar {
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}
